{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
        <div>
            <form method="post" action="{% url 'post' %}">
                {% csrf_token %}
                <Label for="post">New Post</Label>
                <textarea id="post" name="post"></textarea>
                <input type="submit" value="Post" />
            </form>
        </div>
    {% endif %}
    
    {% for post in posts %}

        <div>
            {{post.user}}<br/>
            {{post.post}}<br/>
            {{post.timestamp}}<br/>

            {% if not user.is_authenticated or not post.id in user_likes %}
                <img src="{% static 'network/img/translike.png' %}" data-postid="{{post.id}}" width="20px" height="20px" class="btn_like"  /><span class="likes">{{post.likes.count}}</span><br/><br/><br/>
            {% else %}
                <img src="{% static 'network/img/red.png' %}" data-postid="{{post.id}}" width="20px" height="20px" class="btn_like" /><span class="likes">{{post.likes.count}}</span><br/><br/><br/>
            {% endif %}
        </div>

    {% endfor %}

{% endblock %}