{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated and 'make_post' in meta.components_to_show %}
        <div class="container">
            <form method="post" action="{% url 'post' %}">
                {% csrf_token %}
                <Label for="post">New Post</Label>
                <textarea id="post" name="post"></textarea>
                <input type="submit" value="Post" />
            </form>
        </div>
    {% endif %}


    {% if 'profile' in meta.components_to_show %}
        <div class="container">
    
            <div>
                <strong><span id="following">{{ meta.count_user_follows|default:0 }}</span></strong> Following &nbsp;&nbsp;&nbsp;&nbsp;
                <strong><span id="followers">{{ meta.followers_count|default:0  }}</span></strong> Followers
            </div>
            
            {% if user.is_authenticated and user != meta.profile_user %}
                <div>
                    <a href="{% url 'follow' meta.profile_user.username %}" type="button" class="btn btn-outline-dark" id="follow_toggle">
                        {% if meta.follows_user %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </a>
                </div>
            {% endif %}

        </div>
    {% endif %}

    <!-- The List of Posts -->
    {% if 'posts' in meta.components_to_show %}
        

            <div class="container">
                {% for post in posts %}
                    <div class="row  align-items-center post">
                        <div class="col-2 justify-content-center" style="padding: 10px 30px;">
                            <img width="50" height="50" style="border-radius: 60px;" src="{% static 'network/img/user.png' %}" alt=""  />
                        </div>
                        <div class="col-10">
                            <div class="row align-items-start post_meta">
                                <div class="col-10">
                                    <a class="fullname" href="{% url 'profile' post.user.username %}">{{ post.user.first_name|upper }} {{ post.user.last_name|upper }}</a><span class="username">@{{post.user}}</span>
                                </div>
                            </div>
                            <div class="row align-items-center" id="post_div">
                                <div class="col-12 post_content">{{post.post}}</div>
                            </div>
                            <div class="row  align-items-end post_meta_bottom">
                                <div class="col-8">
                                    <div class="username">{{post.timestamp}}</div>
                                </div>
                                <div class="col-2 ">
                                    {% if not user.is_authenticated or not post.id in user_likes %}
                                         <img src="{% static 'network/img/translike.png' %}" data-postid="{{post.id}}" class="btn_like post_meta_items_unlike"  />&nbsp;&nbsp;<span class="likes">{{post.likes.count}}</span>
                                    
                                        <!-- <span data-postid="{{post.id}}" class="btn_like post_meta_items_unlike">&#9825; </span> <span class="likes">{{post.likes.count}}</span> -->
                                    {% else %}
                                        <img src="{% static 'network/img/red.png' %}" data-postid="{{post.id}}" class="btn_like post_meta_items_like" />&nbsp;&nbsp;<span class="likes">{{post.likes.count}}</span>
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    {% if user == post.user %}
                                        <img src="{% static 'network/img/edit.png' %}" class="edit_button" data-postid="{{post.id}}" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                        <br/><br/><br/><h2>No posts to display. Follow other users to see their posts.</h2>

                {% endfor %}

            </div>

            

        <!-- Pagination -->
        {% if posts.paginator.num_pages > 0 %}
            <div class="container pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}


    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login">
                    </form>
                </div>
                <div class="modal-footer">
                    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

