{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <div>
            <form method="post" action="{% url 'post' %}">
                {% csrf_token %}
                <Label for="post">New Post</Label>
                <textarea id="post" name="post"></textarea>
                <input type="submit" value="Post" />
            </form>
        </div>
    {% endif %}
    
    {% for post in posts %}

        <div>
            {{post.user}}<br/>
            {{post.post}}<br/>
            {{post.timestamp}}<br/>
            {{post.likes.count}}<br/><br/><br/>
        </div>

    {% endfor %}

{% endblock %}