{% extends "network/layout.html" %}

{% block body %}

    <div class="container" style="margin-top: 15%; width: 25%;padding: 25px;">
        <div class="row">
            <div class="col" style="text-align:center;">
                <h5>Login to Network&trade;</h5>
                <hr />
            </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col">
                {% if message %}
                    {{ message }}
                {% endif %}
            </div>
        </div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="row" style="margin-top:5px;">
                <div class="col">
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:right;">
                    <input class="btn btn-outline-dark" type="submit" value="Login">
                </div>
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col" style="text-align:right;">
                    <hr />
                    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                </div>
            </div>
        </form>
    
    </div>
    

{% endblock %}