{% extends "network/layout.html" %}

{% block body %}

    <div class="container" style="margin-top: 10%; width: 25%;padding: 25px;">
        <div class="row">
            <div class="col" style="text-align:center;">
                <h5>Register on Network&trade;</h5>
                <hr />
            </div>
        </div>
        <div class="row" style="margin-top:5px;margin-bottom:10px;">
            <div class="col" style="text-align:center; color: red;">
                {% if message %}
                    {{ message }}
                {% endif %}
            </div>
        </div>
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row" style="margin-top:5px;">
                <div class="col-6">
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="firstname" placeholder="Firstname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input class="form-control" type="text" name="lastname" placeholder="Lastname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <textarea name="bio"  class="form-control" placeholder="Bio"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="file" name="photo"  class="form-control" placeholder="Photo"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:right;">
                    <input class="btn btn-outline-dark" type="submit" value="Register">
                </div>
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col" style="text-align:right;">
                    <hr/>
                    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
            </div>
        </form>
    </div>

    

{% endblock %}